.network_ctn {
  display: flex;
  margin-top: 25px;
  flex-wrap: wrap;
  flex-direction: column;
}

.card_wrapper {
  margin-bottom: 15px;
  padding: 0 12px;
  padding-left: 0;
  width: 33.333%;
}

.network_card {
  position: relative;
  width: 100%;
}

.network_card_text {
  border-radius: 10px;
  background-color: var(--secondary-bg-color);
  text-align: left;
  padding: 20px;
}

.cardTitle {
  font-size: 18px;
  font-weight: bold;
}

.cardStatus {
  color: red;
}

.showNetworksCtn {
  order: 3;
  height: 100%;
  align-self: flex-start;
  margin-bottom: 15px;
  cursor: pointer;
  padding: 5px 40px;
  box-shadow: none;
  font-size: 14px;
}

@media (max-width: 1200px) {
  .card_wrapper {
    width: 50%;
  }

  .card_wrapper:nth-child(even) {
    padding-right: 0;
  }

  .card_wrapper:nth-child(odd) {
    padding-left: 0;
    padding-right: 0px;
  }
}

@media (max-width: 800px) {
  .card_wrapper {
    width: 100%;
  }

  .card_wrapper:nth-child(even) {
    padding-right: 0px;
    padding-left: 0px;
  }

  .card_wrapper:nth-child(odd) {
    padding-left: 0px;
    padding-right: 0px;
  }
}
