.changepw_ctn {
  width: 100%;
  position: relative;
  margin-top: 20px;
}

.changepw_ctn form input {
  width: 100%;
  margin-bottom: 15px;
}

body[data-theme='dark'] .changepw_ctn input {
  border-color: #a5a5a5;
  background-color: var(--primary-bg-color);
}

.changepw_ctn form button {
  width: 100%;
  border-radius: 10px;
}

.success_message,
.error_message {
    background-color: #c5e7ba;
    font-size: 14px;
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    margin-top: 0px;
    color: rgb(0, 99, 0);
    display: inline-block;
    font-weight: 400;
}

.error_message {
    color: rgb(172, 0, 0);
    background-color: #e7bfba;
  }

@media (max-width: 960px) {
  .changepw_ctn {
   max-width: unset;
  }
}

