.account_ctn {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.account_card {
  width: 100%;
  background-color: var(--secondary-bg-color);
  max-width: 430px;
  padding: 15px 20px;
  margin: 4px 0;
  border-radius: 10px;
  display: inline-block;
  font-weight: 600;
}

.updatebtn {
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-self: baseline;
  margin-top: 10px;
  order: 5;
  position: relative;
  cursor: pointer;
  padding: 5px 40px;
  box-shadow: none;
  font-size: 14px;
}

.updatebtn:hover {
  background-color: var(--accent-color);
}

.label {
  margin-top: 20px;
}

body[data-theme='dark'] .updatebtn:hover {
  color: #231f20;
}

@media (max-width: 960px) {
    .account_card {
     max-width: unset;
    }
  }
