.account_ctn {
  display: flex;
  flex-direction: column;
}

.account_card {
  width: 100%;
  background-color: var(--secondary-bg-color);
  max-width: 430px;
  padding: 15px 20px;
  margin: 4px 0;
  border-radius: 10px;
  display: inline-block;
  font-weight: 600;
}

.updatebtn {
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-self: baseline;
  margin-top: 10px;
  position: relative;
  cursor: pointer;
  padding: 5px 40px;
  box-shadow: none;
  font-size: 14px;
}

.secret_info_btn {
  cursor: pointer;
  color: blue;
  margin-left: 10px;
}

.secret_info_ctn {
  border: 1px solid var(--primary-text-color);
  border-radius: 10px;
  max-width: 630px;
  margin-top: 10px;
  padding: 5px;
}

.updatebtn:hover {
  background-color: var(--accent-color);
}

.label {
  margin-top: 20px;
}

body[data-theme='dark'] .updatebtn:hover {
  color: #231f20;
}

@media (max-width: 960px) {
    .account_card {
     max-width: unset;
    }
  }
