.header {
  padding-top: 1em;
  padding-bottom: 0.6em;
}

.article {
  background-color: var(--secondary-bg-color);
  display: block;
  padding: 1em;
  border-radius: 5px;
  -webkit-box-shadow: 2px 5px 15px -5px rgba(255, 255, 255, 0.1);
  box-shadow: 2px 5px 15px -5px rgba(255, 255, 255, 0.1);
}
