.org_ctn  {
  width: 100%;
  background-color: #fff;
  max-width: 700px;
  padding: 20px;
  border-radius: 10px;
}

body[data-theme="dark"] .org_ctn {
  background-color: var(--secondary-bg-color);
}

body[data-theme="dark"] .org_ctn input {
  border-color: var(--gray)
}

.org_ctn p {
  font-size: 16px;
}

.create_input_ctn {
  display: flex;
  align-items: center;
  width: 100%;
}

.create_input_ctn input {
  width: 100%;
  margin: 0;
}

.create_input_ctn button {
  width: 120px;
  margin: 0;
  margin-left: 10px;
}

.error_message {
  width: 100%;
  background-color: rgb(250, 165, 165);
  padding: 5px 0;
  text-align: center;
  border-radius: 3px;
}

.row_ctn {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.sub_header {
  margin: 10px 0;
  font-weight: 600;
  font-size: 20px;
}

.invite_link_outer {
  width: 60%;
}

.invite_link {
  padding: 6px 10px;
  text-align: right;
  background-color: #e7f6ff;
  border: 1px solid var(--accent);
  cursor: pointer;
  border-radius: 3px;
  overflow-wrap: break-word;
  font-size: 14px;
  position: relative;
}

body[data-theme="dark"] .invite_link {
  color: black;
}

.row_ctn span {
  font-size: 12px;
  margin-top: 0px;
  display: block;
} 

.label {
  margin-bottom: 10px;
}

.manage_ctn {
  background-color: #fff8e7;
  border: 1px solid var(--orange);
  padding: 15px;
  border-radius: 3px;
}

.edit_btn,
.delete_btn,
.cancel_btn {
  border: 1px solid #aeaeae;
  background-color: var(--gray);
  padding: 3px 10px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.edit_btn:hover,
.delete_btn:hover,
.cancel_btn:hover {
  background-color: rgb(208, 208, 208);
  border-color: #737373;
}

body[data-theme="dark"] .edit_btn:hover,
body[data-theme="dark"] .cancel_btn:hover {
  color: #000;
}

.delete_btn {
  color: rgb(198, 0, 0);
}

.delete_btn:hover {
  background-color: rgb(254, 210, 210);
  border-color: rgb(238, 128, 128);
}

.confirm_delete_ctn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.confirm_delete_btn_ctn {
  display: flex;
  flex-direction: column;
}

.confirm_delete_btn_ctn button {
  height: 30px;
}

.leave_btn_ctn {
  width: 100%;
  text-align: right;
  margin-top: 40px;
}

.leave_btn_ctn .edit_btn,
.leave_btn_ctn .delete_btn  {
  display: inline-block;
}

@media (max-width: 960px) {
  .create_input_ctn {
    flex-direction: column;
  }
  
  .create_input_ctn button {
    width: 100%;
    margin-left: 0px;
  }
}

.copied_text {
  position: absolute;
  background-color: #e7f6ff;
  border-radius: 3px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


