.li {
  display: block;
}

.active {
  background: var(--accent-color) !important;
  color: var(--primary-text-color) !important;
}

.link {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  padding: 8px 25px;
}

.imagectn {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.active .imagectn img {
  filter: none !important;
}

.li:hover {
  color: #fff;
  background: var(--primary-text-color);
  transition: all ease-in-out 200ms;
}

.li:hover .imagectn img {
  filter: brightness(0) invert(1);
  transition: all ease-in-out 200ms;
}
