.paybutton_list_ctn {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.paybutton_card,
.paybutton_nocard {
  background-color: var(--secondary-bg-color);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 15px;
  border: 1px solid var(--secondary-bg-color);
  transition: all ease-in-out 100ms;
  position: relative;
  word-break: break-all;
}

.paybutton_card h5 {
  margin: 0;
}

.address {
  color: var(--secondary-text-color);
}

.paybutton_card:hover {
  border-color: var(--secondary-text-color);
}

.paybutton_card_no_hover {
  border-color: var(--secondary-bg-color) !important;
}

.arrow {
  position: absolute;
  right: 0;
  top: calc(50% - 13px);
  opacity: 0;
  transition: all ease-in-out 100ms;
}

.paybutton_card:hover .arrow {
  opacity: 1;
  right: 30px;
}

.create_button_ctn {
  position: relative;
  position: sticky;
  bottom: 0;
  margin-left: auto;
  float: right;
}

.create_button {
  background-color: var(--secondary-bg-color);
  font-size: 44px;
  display: inline-block;
  border-radius: 100px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all ease-in-out 100ms;
  position: relative;
  border: 1px solid var(--secondary-text-color);
}

.create_button:hover {
  background-color: var(--accent-color) !important;
}

.tooltiptext {
  visibility: hidden;
  opacity: 0;
  background-color: var(--secondary-bg-color);
  color: var(--primary-text-color);
  text-align: center;
  padding: 2px 0px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  bottom: -30px;
  width: 80px;
  right: -5px;
  flex-basis: 1;
  font-size: 12px;
  z-index: 99999999;
  box-sizing: border-box;
  transition: all 100ms ease-in-out;
}

.tooltiptext::before {
  content: '';
  position: absolute;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  transform: translate(-50%, -9px);
  border-bottom: 7px solid var(--secondary-bg-color);
}

.create_buttonn:hover .tooltiptext,
.create_button:hover .tooltiptext {
  visibility: visible;
  bottom: -35px;
  opacity: 1;
}

.form_ctn_outer {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

.form_ctn_inner {
  width: 100%;
  max-width: 600px;
  align-self: middle;
}

.form_ctn_inner h4 {
  margin: 0;
  margin-left: 5px;
  margin-bottom: 5px;
}

.form_ctn {
  background-color: var(--secondary-bg-color);
  width: 100%;
  padding: 25px;
  border-radius: 10px;
  border: 1px solid var(--secondary-text-color);
}

.form_ctn p {
  margin-top: 0;
}

.form_ctn form {
  display: flex;
  flex-direction: column;
}

.form_ctn label {
  margin-bottom: 5px;
}

body[data-theme='dark'] .form_ctn select {
  color: #fff;
}

.form_ctn select {
  background-color: var(--secondary-bg-color);
}

.form_ctn input,
.form_ctn textarea {
  border: 1px solid var(--secondary-text-color) !important;
  width: 100%;
}

body[data-theme='dark'] .form_ctn input,
body[data-theme='dark'] .form_ctn textarea,
body[data-theme='dark'] .form_ctn select {
  background-color: var(--primary-bg-color);
  border-color: #898EA4 !important;
}

body[data-theme='dark'] .form_ctn select:not([multiple]) {
  background-image: linear-gradient(45deg,transparent 49%,#fff 51%),linear-gradient(135deg,#fff 51%,transparent 49%);
}

.labelMargin {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form_ctn button {
  margin-right: 10px;
  padding: 10px 40px;
}

.form_ctn button:last-child {
  margin-right: 0px;
  box-shadow: none;
}

.form_ctn .delete_btn {
  background-color: unset;
  border: none;
  margin-right: 0px;
  margin-left: 10px;
  color: var(--primary-text-color);
  border-radius: 0px;
  padding-left: 0px;
  padding-right: 0px;
  opacity: 0.6;
  position: relative;
  transition: all ease-in-out 100ms;
}

.form_ctn .delete_btn:hover {
  color: red;
  opacity: 1;
}

.form_ctn .delete_btn div {
  width: 15px;
  border-radius: 0px !important;
  position: absolute;
  right: 0px;
  top: 12px;
  opacity: -10;
  transition: all ease-in-out 100ms;
}

.form_ctn .delete_btn:hover div {
  right: -18px;
  opacity: 1;
}

.form_ctn .delete_confirm_btn {
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid var(--primary-text-color);
  background-color: var(--primary-bg-color);
  color: red;
  transition: all ease-in-out 100ms;
  font-weight: 600;
}

.delete_button_form_ctn {
  word-break: normal;
}

.form_ctn .delete_confirm_btn:hover {
  border: 1px solid var(--primary-text-color);
  background-color: rgb(149, 0, 0);
  color: var(--secondary-bg-color);
}

.multiple_address {
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
  opacity: 0.5;
  text-decoration: underline;
}

.multiple_address:hover {
  color: var(--accent-color);
  opacity: 1;
}

.btn_row {
  text-align: right;
  margin-top: 30px;
  position: relative;
}

.btn_row2 {
  text-align: right;
  margin-top: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.success_message {
  color: green;
  font-size: 14px;
  top: -20px;
  left: 0;
  background-color: rgba(0, 255, 0, 0.1);
  position: absolute;
  padding: 1px 10px;
  border-radius: 5px;
}

.error_message {
  color: red;
  font-size: 14px;
  top: -20px;
  left: 0;
  background-color: rgba(255, 0, 0, 0.1);
  position: absolute;
  padding: 1px 10px;
  border-radius: 5px;
}

.tip {
  opacity: 0.5;
  font-size: 14px;
}

body[data-theme='dark'] .arrow img {
  filter: invert(1);
}

body[data-theme='dark'] .create_button img {
  filter: invert(1);
}

body[data-theme='dark'] .create_button:hover img {
  filter: invert(0);
}

body[data-theme='dark'] .form_ctn_outer {
  background-color: rgba(0, 0, 0, 0.3);
}

.button_detail_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.walletcard_icons {
  display: flex;
  align-items: center;
  border-left: 1px solid var(--primary-text-color);
  margin-left: 10px;
}

.walletcard_icons div:first-child {
  margin-left: 10px;
}

.walletcard_icons div {
  margin-left: 5px;
  width: 25px;
  display: flex;
  align-items: center;
}

.form_label_margin {
  margin-top: 10px;
}

.optional_label {
  margin-top: 10px;
}

.optional_label a {
  color: var(--accent-color);
}

.optional_label a:hover {
  text-decoration: underline;
}

@media (max-width: 960px) {
  .arrow {
    display: none;
  }
}

.checkbox {
  height: 18px;
  width: 18px;
  padding-right: 26px;
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;

}

.reset_btn {
  text-align: right;
  margin-top: 10px;
  font-size: 14px;
  opacity: 0.6;
  cursor: pointer;
  display: inline-block;
  float: right;
}

.info_btn {
  cursor: pointer;
  color: var(--accent-color);
  font-size: 12px;
  right: 0;
  user-select: none;
  top: 3px;
}

.info_ctn {
  width: 100%;
  background-color: var(--secondary-bg-color);
  max-width: var(--max-width);
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 16px;
}

