.success_message {
  color: green;
  font-size: 14px;
  padding: 1px 10px;
  border-radius: 5px;
}

.error_message {
  color: red;
  font-size: 14px;
  padding: 1px 10px;
  border-radius: 5px;
}

.link {
  color: cyan !important;
  text-decoration: underline !important;
}
