.number_ctn {
  background-color: var(--secondary-bg-color);
  margin-top: 25px;
  width: 100%;
  padding: 25px;
  border-radius: 10px;
  display: flex;
}

.number_block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-right: 1px solid var(--primary-text-color);
  padding: 0px 70px 0 40px;
}

.number_block:first-child {
  padding-left: 0px;
}

.number_block:last-child {
  border-right: none;
}

.number_block h4 {
  margin: 0;
  font-size: 34px;
  line-height: 1em;
  margin-bottom: 5px;
}

.number_block h5 {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  color: var(--secondary-text-color);
  line-height: 1em;
}

.btn_ctn {
  margin: 35px 0 15px;
}

.chart_outer_ctn {
  width: 100%;
  display: flex;
}

.chart_inner_ctn {
  width: 50%;
  position: relative;
}

.chart_inner_ctn:first-child {
  padding-right: 13px;
}

.chart_inner_ctn:last-child {
  padding-left: 12px;
}

.chart_ctn {
  background-color: var(--secondary-bg-color);
  width: 99%;
  padding: 25px;
  border-radius: 10px;
  position: relative;
  height: 380px;
}

.chart_inner_ctn h5 {
  margin: 0;
}

.chart_title_ctn {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.toggle_btn,
.toggle_btn:active {
  background: none;
  border-radius: 100px;
  color: var(--primary-text-color) !important;
  font-size: 14px;
  padding: 10px 12px;
  margin: 0;
  margin-left: 6px;
  filter: none;
}

.active_btn {
  background: var(--secondary-bg-color) !important;
  color: var(--accent-color) !important;
  filter: none !important;
}

.active_btn:active,
.active_btn:hover {
  filter: none !important;
}

.toggle_btn:hover {
  color: var(--accent-color) !important;
  filter: none !important;
}

.chart_inner_ctn h5:last-child {
  margin: 0;
  font-size: 18px;
  line-height: 1em;
  flex-grow: 2;
  text-align: right;
  margin-right: 10px;
}

@media (max-width: 1150px) {
  .chart_outer_ctn {
    flex-direction: column;
  }

  .chart_inner_ctn {
    width: 100%;
  }

  .chart_inner_ctn:first-child {
    padding-right: 0;
  }

  .chart_inner_ctn:last-child {
    padding-left: 0;
    margin-top: 25px;
  }

  .chart_ctn {
    padding: 10px;
  }
}

@media (max-width: 1200px) {
  .number_block {
    padding: 0px 10px 0 10px;
  }

  .number_block h4 {
    font-size: 24px;
  }

  .number_block h5 {
    font-size: 16px;
  }
}
