html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  display: inherit;
  min-height: 100%;
  --bg: var(--primary-bg-color);
  font-size: 16px;
  color: var(--primary-text-color);
}

input,
textarea {
  background: var(--secondary-bg-color);
  color: var(--primary-text-color);
}

textarea {
  background: var(--secondary-bg-color);
}

.login_ctn {
  text-align: center;
  padding-top: 100px;
}

body[data-theme='dark'] .login_ctn img {
  filter: brightness(100);
}

h2 {
  font-size: 30px;
  margin: 0;
}

h4 {
  margin: 20px 0 10px 0;
}

body[data-theme='dark'] input,
textarea {
  border-color: var(--secondary-bg-color);
}

button {
  background: var(--accent-color);
  color: var(--primary-text-color);
}

body[data-theme='dark'] button {
  color: var(--primary-bg-color);
}

.back_btn {
  border-radius: 100px;
  padding: 5px 25px;
  margin-bottom: 0px;
  background-color: var(--secondary-bg-color);
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

.back_btn:hover {
  background-color: var(--accent-color);
  color: var(--secondary-bg-color) !important;
}
