html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  display: inherit;
  min-height: 100%;
  --bg: var(--primary-bg-color);
  font-size: 16px;
}

input {
  background: white;
}

textarea {
  background: white;
}

.login_ctn {
  text-align: center;
  padding-top: 100px;
}

h2 {
  font-size: 30px;
  margin: 0;
}
