body,
body[data-theme='light'] {
  --primary-bg-color: #f0f3f4;
  --secondary-bg-color: #ffffff;
  --primary-text-color: #231f20;
  --secondary-text-color: #7f7f7f;
  --accent-color: #669cfe;
  --chart-line-color: #231f201f;
}

body[data-theme='dark'] {
  --primary-bg-color: #231f20;
  --secondary-bg-color: #2f2f2f;
  --primary-text-color: #ffffff;
  --secondary-text-color: #cacaca;
  --accent-color: #669cfe;
  --chart-line-color: #87858635;
}
